# Configuration Supabase
# Copiez ce fichier en .env et remplacez les valeurs par vos vraies credentials
# Vous pouvez les trouver dans votre projet Supabase : Settings > API

SUPABASE_URL=https://cktfiiopnefkoinueyxl.supabase.co/rest/v1/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrdGZpaW9wbmVma29pbnVleXhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ3NjQzMDAsImV4cCI6MjA4MDM0MDMwMH0.xosA0cLU5ssxL1jSdqJzSRaIwsgLFcAz6Fw2v_FgoZ8
